<body class="back-ground">
    <mat-card class="center">    
        <form [formGroup]="sampleForm" (ngSubmit)="onConfirm()">
            
            <div class="top-right">
            <mat-icon   class="interactiveicon" color="primary" matSuffix (click)="clearAll()" >close</mat-icon>
            <span class="tooltiptext">clear form</span>
            </div>

            <mat-card-title><em>Change Password</em></mat-card-title><br>           

            <div>
                <mat-form-field appearance="outline" class="long-box">
                    <mat-label><strong>User Name</strong></mat-label>
                    <input matInput placeholder="Name" formControlName="user">
                </mat-form-field>
            </div>
    
            <div>
                <mat-form-field appearance="outline" class="long-box">
                    <mat-label><strong>Email</strong></mat-label>
                    <input matInput placeholder="email" formControlName="email">
                </mat-form-field>
            </div>

            <div>
                <app-child-component [passcodecontrol]="password">
                     <mat-label><strong>Password</strong></mat-label>
                </app-child-component>
                <mat-error *ngIf="password.hasError('required') && password.touched">This is a required field</mat-error>
                <mat-error *ngIf="password.hasError('minlength') && password.touched">type atleast 8 characters</mat-error>
            </div>

            <div>
                <app-child-component [passcodecontrol]="confirmpassword">
                    <mat-label><strong>Password</strong></mat-label>
                </app-child-component>
                <mat-error *ngIf="confirmpassword.hasError('required') && confirmpassword.touched">This is a required field</mat-error>
                <mat-error *ngIf="confirmpassword.hasError('minlength') && confirmpassword.touched">type atleast 8 characters</mat-error>
                <mat-error *ngIf="sampleForm.errors?.['mismatch'] && confirmpassword.touched">please make sure the passwords match</mat-error>
            </div>

            <button mat-raised-button color="primary" [disabled]="sampleForm.invalid">Confirm</button>
        </form>
    </mat-card>
</body>